<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog posts and service offerings on full-stack agile implementation consulting by Lars Thorup and Sju G. Thorup">
  <title>{{title}} - Full Stack Agile</title>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
  <link rel="stylesheet" type="text/css" href="/style/prism-vs.css">
</head>
<body>

{{ content }}

<footer>
  <div class="edit">
    <a href="https://gitlab.com/fullstackagile/fullstackagile.gitlab.io/blob/master/{{ page.inputPath }}">
      Edit on GitLab
    </a>
  </div>
</footer>

</body>
</html>
