---
layout: header-en
---

<article>
  <h2>{{title}}</h2>
  <p>
    Publiceret {{ page.date | date: '%d/%m-%Y' }} af {{ author | default: 'Lars' }}
    &nbsp;
    {%- for category in categories -%}
    <span class="category">{{category}}</span>
    {%- endfor -%}
  </p>
  {{ content }}
  <p><a href="https://mobile.twitter.com/search?q={{permahost}}{{permalink}}" target="_blank">Debater på Twitter</a></p>
</article>
