---
layout: header-en
---

<article>
  <h2>{{title}}</h2>
  <p>
    Published: {{ page.date | date: '%Y-%m-%d' }} by {{ author | default: 'Lars' }}
    &nbsp;
    {%- for category in categories -%}
    <span class="category">{{category}}</span>
    {%- endfor -%}
  </p>
  {{ content }}
  <p><a href="https://mobile.twitter.com/search?q={{permahost}}{{twitterlink | default: permalink}}" target="_blank">Discuss on Twitter</a></p>
</article>
