---
layout: page-en
permalink: "/blog/"
title: Blog
---

<img src="../logo-full-stack-agile.png" width="38%"/>

<h2>Blog</h2>

{% assign year = "" %}
<ul>
    {%- for post in collections.postRecent -%}
    {% assign itemYear = post.data.date | date: '%Y' %}
    {% unless itemYear == year %}
        {% assign year = itemYear %}
        </ul>
        {{ itemYear }}
        <ul>
    {% endunless %}
    <li>
        <a href="{{post.data.permalink  | url}}">
            {{ post.data.title }}
        </a>
        {%- for category in post.data.categories -%}
        <span class="category">{{category}}</span>
        {%- endfor -%}
    </li>
    {%- endfor -%}
</ul>
